extends layout

block content
  if (!user)
    p
      a(href="/register") Register here!
    p
      a(href="/signin") Sign In
  else
    p Welcome, #{user.username}
    p
      a(href="/signout") Sign Out
