block content
  form(action="/signin" method="post")
    label(for="username") Username
    br
    input(type="text" name="username" id="username")
    br
    label(for="password") Password
    br
    input(type="password" name="password" id="password")
    br
    input(type="submit" value="Sign in to the best app ever")
